{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "quoteProps": "consistent",
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "endOfLine": "lf",
  "arrowParens": "avoid"
}
